In [1]:
import numpy as np
import pandas as pd
from sklearn import neighbors as nn

In [2]:
from HVDM import HVDM

In [3]:
df = pd.read_csv("dataset/KDDCup.csv",header=None,index_col=False)
df = df.replace([np.inf, -np.inf], np.nan)
df.dropna(inplace=True)
df = df.drop([20],axis= 1)
df

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.00,0.00,0.00,0.0,0.0,1
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.00,0.00,0.00,0.0,0.0,1
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,1
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.00,0.00,0.00,0.0,0.0,1
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.00,0.00,0.00,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494016,0,tcp,http,SF,310,1881,0,0,0,0,...,255,1.0,0.0,0.01,0.05,0.00,0.01,0.0,0.0,1
494017,0,tcp,http,SF,282,2286,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,1
494018,0,tcp,http,SF,203,1200,0,0,0,0,...,255,1.0,0.0,0.06,0.05,0.06,0.01,0.0,0.0,1
494019,0,tcp,http,SF,291,1200,0,0,0,0,...,255,1.0,0.0,0.04,0.05,0.04,0.01,0.0,0.0,1
494020,0,tcp,http,SF,219,1234,0,0,0,0,...,255,1.0,0.0,0.17,0.05,0.00,0.01,0.0,0.0,1

In [4]:
df1 = list(df[1].unique())
df2 = list(df[2].unique())
df3 = list(df[3].unique())
df[1] = df[1].apply(lambda s: df1.index(s))
df[2] = df[2].apply(lambda s: df2.index(s))
df[3] = df[3].apply(lambda s: df3.index(s))

In [5]:
df[[1,2,3]] = df[[1,2,3]].astype("category")
df[6] = df[6].astype("category")
df[11] = df[11].astype("category")
#df[21] = df[21].astype("category")
df[41] = df[41].astype("category")

for i in range(0,34):
    if i not in [1,2,3,6,11,20,21,41]:
        df[i] = df[i] / df[i].max()

In [12]:
df[11].unique()

[1, 0]
Categories (2, int64): [1, 0]

In [14]:
for i in df.columns:
    if df[i].dtype.name != "category" and i!=19:
        if np.isnan(df[i]).any():
            print(i)

        r = np.nanmax(df[i]) - np.nanmin(df[i])

In [15]:
df[21].describe()

count    494021.000000
mean          0.001387
std           0.037211
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: 21, dtype: float64

In [16]:
df = df.drop([19],axis= 1)

TypeError: 'range' object is not callable

In [19]:
df.columns = range(len(df.columns))

In [22]:
Y = df[39]
X = df.drop([39],axis= 1)
X.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38],
           dtype='int64')

In [23]:
df.to_csv("preproccessing_KDDCup.csv", header=False)

In [ ]:
hvdm_metric = HVDM(df,41,[1,2,3,6,11])

In [ ]:
Knn = nn.KNeighborsClassifier(metric = hvdm_metric.hvdm,algorithm="brute", n_jobs=-1)

In [24]:
X.describe()

,0,4,5,7,8,9,10,12,13,14,...,31,32,33,34,35,36,37,38,39,40
count,494021.000000,4.940210e+05,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,...,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000,494021.000000
mean,0.000823,4.363595e-06,0.000168,0.002144,0.000005,0.001151,0.000030,0.000012,0.000111,0.000018,...,0.911650,0.739865,0.753780,0.030906,0.601935,0.006684,0.176754,0.176443,0.058118,0.057412
std,0.012134,1.425228e-03,0.006409,0.044935,0.001837,0.026070,0.003104,0.002034,0.010551,0.003896,...,0.253903,0.415845,0.410781,0.109259,0.481309,0.042133,0.380593,0.380919,0.230590,0.230140
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,6.489989e-08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.180392,0.410000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,7.499542e-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.488371e-06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.040000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
Knn.fit(X,Y)

In [ ]:
majorityClass = np.bincount(Y).argmax()

In [ ]:
majorityClass

In [ ]:
category = ["safe","borderline","rare","outlier"]

X[Y != majorityClass]

In [ ]:
X[Y != majorityClass].index[1*(760)]

In [12]:
batch = 1
for i in range(760,9727):
    start = X[Y != majorityClass].index[batch*i]
    end = X[Y != majorityClass].index[batch*(i+1) -1]
    nearest = Knn.kneighbors(X[Y != majorityClass].loc[start:end,:], n_neighbors= 6, return_distance= False)
    items = []
    with open('KDDCup_neighbors.txt', 'a') as f:
        for item in nearest:
            f.write("%s\n" % item)
    print(i)

NameError: name 'majorityClass' is not defined

In [ ]:
nearest = Knn.kneighbors(X[Y != majorityClass], n_neighbors= 6, return_distance= False)

In [ ]:
results = pd.DataFrame(columns = ["i","class", "category"])
for n in nearest:
    cl = Y[n[0]]
    same = 0
    other = 0
    category = "safe"
    for nnn in n:
        if Y[nnn] == cl:
            same += 1
        else:
            other += 1
    if same == 1:
        category = "outlier"
    elif same <= 2:
        category = "rare"
    elif same <= 4:
        category = "borderline"
        
    df2 = pd.DataFrame([[n[0],cl,category]],columns = ["i","class", "category"])

    results = results.append(df2)

    
    
results

In [ ]:
zeros = results[results["class"]==majorityClass].count()[0]
ones = results[results["class"]!= majorityClass].count()[0]

In [ ]:
categories_counts = results.groupby(["class","category"]).count()
categories_counts = categories_counts.reset_index()
categories_counts

In [ ]:
def map_p(i):
    divider = zeros
    if categories_counts["class"][i] != majorityClass:
        divider = ones
    return int(categories_counts["i"][i] * 10000/divider) / 100



categories_counts["p"] = pd.Series(categories_counts.index).apply(map_p)

In [ ]:
categories_counts